{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
<div class="container">
    <h1>Chat Teams</h1>
    <h3>Create a chat room</h3>
    What chat room would you like to enter?<br>
    <div class="d-flex align-items-center">
        <input style="margin-right: 25px;" id="room-name-input" type="text" size="100"><br>
        <button class="btn btn-primary text-white" id="room-name-submit" type="button" value="Enter">Enter</button>
    </div>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</div>
{% else %}
<div class="container">
    <h1>You have to Log in or create an account</h1>
    <a href="{% url 'home' %}">Back to home</a>
</div>
{% endif %}
{% endblock %}