{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    {% if user.is_authenticated %}
    <div class="col-md-6 offset-md-2">
        <h1>Product</h1>
        <p>Product page</p>
        <a href="{% url 'home' %}">Back to home</a>
        <a href="{% url 'create' %}">Create a new product</a>
    </div>
        {% else %}
    <div class="col-md-6 offset-md-2">
        <h1>You have to Log in or create an account</h1>
        <a href="{% url 'home' %}">Back to home</a>
        {% endif %}
    </div>
{% endblock %}
