{% extends 'base.html' %}

{% block content %}
  <div class="col-md-6 offset-md-2 position-relative">
        <h1>Product Detail</h1>
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="update">Update</button>
            <button type="submit" name="delete">Delete</button>
        </form>
        <br>
        <a href="{% url 'home_product' %}">Back to products</a>
    </div>
{% endblock %}
