{% extends 'base.html' %}

{% block content %}
  {% csrf_token %}
  {% if user.is_authenticated %}
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>All Sales</h1>
      <div>
        <button class="btn btn-secondary"><a href="{% url 'home' %}" class="text-white text-decoration-none">Back to home</a></button>
        <button class="btn btn-primary"><a href="{% url 'create_customer' %}" class="text-white text-decoration-none"> + New customer</a></button>
        <button class="btn btn-success"><a href="{% url 'create_sale' %}" class="text-white text-decoration-none"> + New sale </a></button>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
      <h1>You have to Log in or create an account</h1>
      <a href="{% url 'home' %}">Back to home</a>
  </div>
    {% endif %}
{% endblock %}
